.ui-sider {
    width: 300px;
    float: left;
}
.ui-main {
    margin-left: 310px;
}

.ui-sider table {
    width: 100%;
}

#grader-run-btn {
    font-weight: bold;
    font-size: 1.5em;
}

.bench-current {
    font-weight: bold;
}

.bench-status-unknown {
    background-color: unset;
}
.bench-status-running {
    background-color: #ddd;
}
.bench-status-passed {
    background-color: #afa;
}
.bench-status-failed {
    background-color: #faa;
}

.log-line-debug {
    color: gray;
}
.log-line-success {
    color: green;
    font-weight: bold;
}
.log-line-error {
    color: red;
}
.log-line-header {
    background-color: lightblue;
}

.log-viewer {
    overflow-x: auto;
}
.log-line {
    font-size: .9em;
    margin: 0 0 .25em 0;
}

.ui-main img {
    max-width: 150px;
}
.ui-main iframe {
    max-width: 200px;
}